/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021/05/29, 9:52:57
    Author     : owner
*/
.dialog_frame {
    position: absolute;
    z-index: 999;
}

.dialog_title {
    cursor: move;
}

.dialog_close {
    cursor: pointer;
}

.drag {
    z-index: 1001;
}
