/* 
    Created on : 2019/01/23, 7:55:27
    Author     : owner
*/
.preformatted{
    white-space: pre;
}

.aggreagate_info {
    text-align: right;
    margin-bottom: 0px;
}

table.employee_list {
    width:1000px;
}

table.employee_list, table.employee_list td, table.employee_list th {
    border: solid 1px gray;
    border-collapse: collapse;
    padding: 3px;
}
table.employee_list th {
    background-color: lightyellow;
    text-align: left;
}

table.employee_list td {
    vertical-align: top;
}

/* 列を中央ぞろえにする */
table.employee_list tr th:nth-of-type(1), 
table.employee_list tr th:nth-of-type(2), 
table.employee_list tr td:nth-of-type(2),
table.employee_list tr th:nth-of-type(4), 
table.employee_list tr td:nth-of-type(4)
{
    text-align: center;
}

#topPageNavigator {
    position: absolute;
    z-index: 3;
    top:0px;
    width:100%;
    text-align: center;
}

#countInfo {
    position: absolute;
    z-index: 2;
    top:0px;
    width:100%;
    text-align:right;
}
